@media screen and (max-width: 768px) {
    .logo {
        opacity: 0.5;
    }
    .decorate{
        margin-left: 0;
    }
    .menu_bar {
        margin: 30px 0 0 30px;
    }
    .slidebox {
        padding: 0 30px;
    }
    .menu_bar > div > a > img {
        width: 70%;
    }
    .first_page_title {
        font-size: 40px;
        margin-top: 5px;
    }
    #section0 {
        background: url('../img/1_small.jpg');
    }

    .first_slide > .horizontal_word > p:nth-child(1) {
        padding-top: 150%;
    }
    #section0,
    #section1 {
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    .svg_1,
    .svg_2 {
        display: none;
    }
    .ex_wordbox {
        padding-left: 10px;
        padding-top: 15px;
    }
    .vertical_word {
        display: none;
    }
    .fourth_slide {
        padding-top: 20%;
    }
    .about_me_word {
        font-size: 16px;
        line-height: 1.2;
    }
    .third_slide > .horizontal_word {
        padding-top: 15%;
    }
    .third_page_title {
        font-size: 28px;
        line-height: 1.4;
        margin: 20px 0 15px 0;
        text-shadow: rgb(107, 107, 107) 2px 2px 5px;
    }
    .fourth_page_title {
        font-size: 24px;
        margin: 0 0 20px 0;
    }
    .work {
        width: 100%;
        margin: 0 0 10px 0;
    }
    .work_title {
        height: 30px;
        font-size: 16px;
        padding: 5px 0;
    }
    .ex_title {
        font-size: 16px;
    }
    .skillbar {
        margin-bottom: 20px;
    }
    .message {
        height: 100px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .logo {
        opacity: 0.5;
    }
    .menu_bar {
        margin: 60px 50px 0 50px;
    }
    .slidebox {
        padding: 0 60px;
    }
    .first_page_title {
        font-size: 45px;
        line-height: 1.2;
        margin-top: 10px;
    }
    #section0,
    #section1{
        background-size: cover;
        background-repeat: no-repeat;
    }
    .svg_1,
    .svg_2 {
        display: none;
    }
    .ex_wordbox {
        padding-left: 20px;
        padding-top: 40px;
    }
    .vertical_word {
        display: none;
    }
    .about_me_word {
        font-size: 18px;
        line-height: 1.8;
    }
    .third_page_title {
        font-size: 28px;
        line-height: 1.4;
        margin: 0 0 35px 0;
        text-shadow: rgb(107, 107, 107) 2px 2px 5px;
    }
    .fourth_page_title {
        margin-bottom: 35px;
    }
    .work {
        width: 200px;
        height: 170px;
        margin: 0 30px 20px 0;
    }
    .work_title {
        height: 50px;
        font-size: 20px;
        padding: 15px 0;
    }
    .ex_title {
        font-size: 20px;
    }
    .skillbar {
        margin-bottom: 35px;
    }
    .message {
        height: 250px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1300px) {
    .logo {
        opacity: 0.5;
    }
    .menu_bar {
        margin: 60px 50px 0 50px;
    }
    .slidebox {
        padding: 0 60px;
    }
    .first_page_title {
        font-size: 50px;
        line-height: 1.2;
        margin-top: 10px;
    }

    .contact_bar {
        padding-left: 20%;
    }
    #section0,
    #section1 {
        background-size: contain;
        background-repeat: no-repeat;
    }
    #section0{
        background-position: right;
    }
    .svg_1,
    .svg_2 {
        display: none;
    }
    .ex_wordbox {
        padding-left: 20px;
        padding-top: 40px;
    }
    .vertical_word {
        display: none;
    }
    .about_me_word {
        font-size: 18px;
        line-height: 1.8;
    }
    .third_page_title {
        font-size: 32px;
        line-height: 1.5;
        margin: 0 0 35px 0;
        text-shadow: rgb(107, 107, 107) 2px 2px 5px;
    }
    .fourth_page_title {
        margin-bottom: 35px;
    }
    .work {
        width: 200px;
        height: 170px;
        margin: 0 30px 20px 0;
    }
    .work_title {
        height: 50px;
        font-size: 20px;
        padding: 15px 0;
    }
    .ex_title {
        font-size: 20px;
    }
    .skillbar {
        margin-bottom: 35px;
    }
    .message {
        height: 250px;
    }
}

@media screen and (min-width: 1300px) {


    .menu_bar {
        margin: 60px 50px 0 50px;
    }
    .slidebox {
        padding: 0 60px;
    }
    .first_page_title {
        font-size: 70px;
        line-height: 1.2;
        margin-top: 20px;
    }
    #section0,
    #section1 {
        background-size: contain;
        background-repeat: no-repeat;
    }
    #section0{
        background-position: right;
    }
    .svg_1,
    .svg_2 {
        display: inline-block;
    }
    .ex_wordbox {
        padding-left: 20px;
        padding-top: 40px;
    }
    .vertical_word {
        position: relative;
        margin-top: 15%;
    }
    .about_me_word {
        font-size: 18px;
        line-height: 1.8;
    }
    .third_page_title {
        font-size: 32px;
        line-height: 1.5;
        margin: 0 0 35px 0;
        text-shadow: rgb(107, 107, 107) 2px 2px 5px;
    }
    .fourth_page_title {
        margin-bottom: 35px;
    }
    .work {
        width: 200px;
        height: 170px;
        margin: 0 30px 20px 0;
    }
    .work_title {
        height: 50px;
        font-size: 20px;
        padding: 15px 0;
    }
    .ex_title {
        font-size: 20px;
    }
    .skillbar {
        margin-bottom: 35px;
    }
    .message {
        height: 250px;
    }
}
